body {
    color: white;
    background: rgb(190, 113, 113);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
section{
    background: white;
    padding-bottom: 30px;
    padding-top: 80px ;
    display: flex;
    justify-content: center;
}