body {
    color:black;
    background: rgb(190, 113, 113);
    margin: 0px;
}

header {
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: black;
}
section{
    background: white;
    padding-bottom: 30px;
    padding-top: 80px ;
    display: flex;
    justify-content: center;
}
.chamada de texto{
    margin-right: 5%;

}